:root {
    --color0: #ECFBF5;
    --color1: #A8CABB;
    --color2: #5A8F78;
    --color3: #2F614C;
    --color4: #0E3625;
    --bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NgAAIAAAUAAR4f7BQAAAAASUVORK5CYII=);
}

.a {
    --color0: #FBFDFF;
    --color1: #E8F1FD;
    --color2: #D3E2F8;
    --color3: #BCD1F1;
    --color4: #294B7D;
}

.b {
    --color0: #EEE5D2;
    --color1: #fdfaf2;
    --color2: #ffecd6;
    --color3: #e2d0ac;
    --color4: #383329;
        --bg: url(../img/d.webp);
}

.c {
    --color0: #FFFDFB;
    --color1: #F6F7F9;
    --color2: #C1CEDD;
    --color3: #7991B0;
    --color4: #1A3B66;
}

.d {
    --color0: #EEE5D2;
    --color1: #c4b79b;
    --color2: #aa9c7c;
    --color3: #928160;
    --color4: #181101;
}

.e {
    --color0: #FFFFFF;
    --color1: #FEF8FD;
    --color2: #FAE5F7;
    --color3: #F1CDEC;
    --color4: #555;
}

.f {
    --color0: #EDF4FA;
    --color1: #A5B5C3;
    --color2: #597187;
    --color3: #30475C;
    --color4: #102233;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.bglines {
        background: repeating-linear-gradient(transparent 0, transparent 9px, var(--color3) 9px, var(--color3) 10px) 0 0 fixed,
        repeating-linear-gradient(90deg, transparent 0, transparent 9px, var(--color3) 9px, var(--color3) 10px) 0 1px fixed,
        var(--bg) 0 0/100vw 100vh no-repeat, var(--color2);
}
body {
    font: 16px/1.25 Arial, sans-serif;
    color: var(--color4);
    background: var(--bg) 0 0/100vw 100vh no-repeat, var(--color2);
}

a,
h1,
h2,
h3,
p {
    margin-top: 0;
    font-size: 1em;
    margin-bottom: 0;
    padding: 1.25em 0;
    line-height: 1.25
}

.pe {
    padding: 0 4px
}

a {
    color: var(--color4);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 4px;
    display: block;
    width: 100%;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    color: var(--color3)
}

#moves {

    z-index: 2 !important;
}

.movable.hide {
    visibility: hidden
}

.movable {
    background: var(--color1);
    box-shadow: -1px -1px 0 var(--color3) inset, -1px -1px 0 var(--color3);
    user-select: none;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    min-width: 52px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    border-radius: 2px;
}

.movable a {
    display: block
}

.movable::before {
    content: "✥";
    cursor: pointer;
    width: 20px;
    height: 20px;
    pointer-events: all;
    z-index: 2;
    position: absolute;
    top: -1px;
    left: 0;
    color: var(--color4);
    text-align: center;
    line-height: 20px
}

.movable-p {
    padding: 0 4px
}

.minimized {
    overflow:hidden;
    height: 20px !important;
    padding: 0;
    min-height: 0;
    pointer-events: all
}

.minimized::before {
    content: "□"
}

.main {
    display: flex;
    place-items: baseline;
    flex-wrap: wrap
}
.tetris{
    clip-path: polygon(100% 0, 100% 39px, 39px 39px, 39px 100%, 0 100%, 0 0);
}
.movable h1 {
    font-size: 16px;
    line-height: 20px;
    color: var(--color4);
    background: var(--color2);
    height: 20px;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
    position: relative;
    word-wrap: anywhere;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color3);
    border-width: 0 1px 1px 0;
    font-weight: 100;
}

.mousedown {
    z-index: 2;
    outline: 1px dotted #fff
}

#clock,
#today {
    font-family: Numbers, sans-serif;
    letter-spacing: 2px;
    font-size: 2em
}

#clock div {
    display: inline-block;
    text-align: center
}

.svg-holder {
    position: relative;
    cursor: pointer;
    font-size: 0
}

.svg-holder path {
    stroke: var(--color4)
}

.svg-holder path:hover {
    stroke: var(--color2)
}

svg {
    shape-rendering: optimizespeed;
    height: 40px;
    max-width: 140px;
}

.movable.minimized div {
    display: none;
    position: relative
}

#clock {
    white-space: nowrap
}

.cols {
    animation: seconds 1s alternate infinite
}

@keyframes seconds {
    20% {
        color: transparent
    }

    50% {
        color: inherit
    }
}

.w3{width: 250px}
input[type=text],
textarea {
    background: var(--color0);
    color: inherit;
    border: 0;
    padding: 0 4px;
    line-height: 2;
    width:100%;
}

textarea {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    box-sizing: content-box;
    background: transparent;
}

.dark {
    background: var(--color1);
}

button,
input[type="radio"],
input[type="file"]::file-selector-button,
input[type="color"] {
    min-width: 46px;
    height: 2em;
    overflow: hidden;
    cursor: pointer;
    color: var(--color4);
    background: var(--color3);
    border: 1px solid var(--color2);
    margin: .25em;
    width: auto;
    accent-color: var(--color3);
}
#moves button {
  margin: 1.5em 0;
  height: 3em;
}
button#top {margin-top:0}
button#bottom {margin-bottom:0}
input[type="file"]::file-selector-button {
    display: flex;
    flex-direction: column;
    width: min-content;
}

input[type="file"i] {
    width: 20ch;
}

.forms label {
    margin: 0 .25em;
    padding: 0;
    line-height: 1;
    text-align: center;
}

button:hover,
input[type="file"]::file-selector-button:hover {
    background: var(--color3)
}

button:active,
input[type="file"]::file-selector-button:active {
    background: var(--color0);
    color: var(--color2);
}

.flex div {
    place-content: center;
}

.forms {
    border: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    margin: .25em;
    padding: .25em;
    place-items: center;
    place-content: center;
}

.forms div {
    display: flex;
}

.forms>div>div {
    flex-direction: column;
}

.forms legend {
    margin: 0 auto;
    padding: 0 .25em;
    line-height: 1;
}

#vr h1 {
    height: auto;
    padding: 19px 0 0;
    width: 20px;
}

#vr p {
    padding: 0;
}

#vr {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    place-items: stretch;
}

#vr.minimized {
    width: 20px !important;
    min-width: 0;
    height: auto !important;
}


@media screen and (max-width: 600px) {

    #vr.minimized,
    .movable {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: auto !important;
    }

    .movable::before {
        display: none;
    }

    .movable.minimized div {
        display: block !important;
    }
}
