:root {
    --color0: #EDF0F9;
    --color1: #C8CEE9;
    --color2: #485794;
    --color3: #6D7BB0;
    --color4: #9BA5D0;
    --bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NgAAIAAAUAAR4f7BQAAAAASUVORK5CYII=);
}

.a {
    --color0: #EDF4FA;
    --color1: #A5B5C3;
    --color2: #102233;
    --color3: #30475C;
    --color4: #597187;
}

.b {
    --color0: #ECFBF5;
    --color1: #A8CABB;
    --color2: #0E3625;
    --color3: #2F614C;
    --color4: #5A8F78;
}

.c {
    --color0: #FFFFFE;
    --color1: #EAD79B;
    --color2: #2A2000;
    --color3: #6A5100;
    --color4: #AA8F39;
    --bg: url(../img/c.webp);
}

.d {
    --color0: #EEE5D2;
    --color1: #AB9F85;
    --color2: #181101;
    --color3: #281F0D;
    --color4: #383329;
}

.e {
    --color0: #fafafa;
    --color1: #9F858B;
    --color2: #2E030C;
    --color3: #4C222B;
    --color4: #674D52;
    --bg: url(../img/a.webp);
}

.f {
    --color0: #FFFCF1;
    --color1: #ACA690;
    --color2: #322803;
    --color3: #524824;
    --color4: #706953;
    --bg: url(../img/b.webp);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font: 16px/1.25 Arial, sans-serif;
    color: var(--color2);
    background: repeating-linear-gradient(transparent 0, transparent 9px, var(--color2) 9px, var(--color2) 10px) 0 0 fixed,
        repeating-linear-gradient(90deg, transparent 0, transparent 9px, var(--color2) 9px, var(--color2) 10px) 0 1px fixed,
        var(--bg) 0 0/100vw 100vh no-repeat, var(--color3);
}

a,
h1,
h2,
h3,
p {
    margin-top: 0;
    font-size: 1em;
    margin-bottom: 0;
    padding: 1.25em 0;
    line-height: 1.25
}

.pe {
    padding: 0 4px
}

a {
    color: var(--color2);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 4px;
    display: block;
    width: 100%;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    color: var(--color3)
}

.movable {
    background: var(--color0);
    box-shadow: -1px -1px 0 var(--color2) inset;
    user-select: none;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    min-width: 52px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative
}

.movable a {
    display: block
}

.movable::before {
    content: "✥";
    cursor: pointer;
    width: 20px;
    height: 20px;
    pointer-events: all;
    z-index: 2;
    position: absolute;
    top: -1px;
    left: 0;
    color: var(--color1);
    text-align: center;
    line-height: 20px
}

.movable-p {
    padding: 0 4px
}

.minimized {
    height: 20px !important;
    padding: 0;
    min-height: 0;
    pointer-events: all
}

.minimized::before {
    content: "□"
}

.main {
    display: flex;
    place-items: baseline;
    flex-wrap: wrap
}

.movable h1 {
    font-size: 16px;
    line-height: 20px;
    color: var(--color0);
    background: var(--color4);
    height: 20px;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
    position: relative;
    word-wrap: anywhere;
    white-space: nowrap;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid var(--color2);
    border-width: 0 1px 1px 0;
}

.mousedown {
    z-index: 2;
    outline: 1px dotted #fff
}

#clock div,
#today {
    font-family: Numbers, sans-serif;
    letter-spacing: 2px;
    font-size: 2em
}

#clock div {
    display: inline-block;
    text-align: center
}

.svg-holder {
    position: relative;
    cursor: pointer;
    font-size: 0
}

.svg-holder path {
    stroke: var(--color4)
}

.svg-holder path:hover {
    stroke: var(--color2)
}

svg {
    height: 100%;
    width: 100%;
    max-height: 40px
}

.movable.minimized div {
    display: none;
    position: relative
}

#clock {
    white-space: nowrap
}

.cols {
    animation: seconds 1s alternate infinite
}

@keyframes seconds {
    20% {
        color: transparent
    }

    50% {
        color: inherit
    }
}

input[type=text],
textarea {
    background: var(--color0);
    width: 300px;
    color: inherit;
    border: 0;
    padding: 0 4px;
    line-height: 2;
}

textarea {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    box-sizing: content-box;
    background: transparent;
}

.dark {
    background: var(--color1);
}

button,
input[type="file"]::file-selector-button,
input[type="color"] {
    min-width: 46px;
  height: 2em;
  max-width: 100px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color0);
  background: var(--color4);
  border: 1px solid var(--color2);
  margin: .25em;
  inline-size: min-content;
}
input[type="file"]::file-selector-button{
display: flex;
flex-direction: column;
width: min-content;
}

.forms label {
    margin: 0 .25em;
    padding: 0;
    line-height: 1;
    text-align: center;
}

input[type="file"]::file-selector-button:hover {
    background: var(--color3)
}

.flex {
    display: flex
}

.forms {
    border: 1px solid var(--color3);
    display: flex;
    flex-direction: column;
    margin: .25em;
    padding: .25em;
    place-items: flex-start;
}

.forms div {
    display: flex;
}

.forms>div>div {
    flex-direction: column;
}

.forms legend {
    margin: 0 1em;
}