:root {
    --primary-color: #fff;
    --secondary-color: #637C97;
    --light-color: #A4B1BF;
    --dark-color: #2F5174;
}

body {
    margin: 0;
    font: 16px/1.5 Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: #333;
    background: var(--secondary-color);
    overflow-x: hidden;
}

header {
    color: var(--primary-color)
}
#letters-cells {
  place-content: end;
}
header,
main {
    background: var(--light-color);
    text-align: right;
    padding: 1em;
}

#main {
    background: var(--dark-color);
    color: var(--primary-color);
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1024px;
}

#main div {
    padding: .5em 0;
}
h1 {
  margin: 0;
}
.flex {
    flex-wrap: wrap;
    display: flex;
    place-content: center;
    padding: 0;
    margin: 0 auto;
}

.column {
    flex-direction: column
}

.col {
    flex-direction: column;
    gap: 1em;
}

#letters-cells input {
    text-align: center;
}

input[type=checkbox] {
    margin: 0 1em;
    padding: 0
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

button,
input {
    border-radius: 3px;
    cursor: pointer;
    background: #eee;
    font-family: monospace;
    min-width: 2em;
    font-weight: 700;
    line-height: 2;
    font-size: inherit;
    color: #777;
    transition: .1s color;
    box-shadow: #fff 0 0 2px inset
}

.counter button,
.ok,
button,
input {
    border: 1px solid currentColor
}

#statistics {
    text-align: right;
}

legend,
fieldset {
    border: 1px solid var(--light-color);
    flex: 1 1 auto;
}
footer{
    text-align: right;
    max-width: 1024px;
    margin: 0 auto;
}
p {
    margin: 0;
  }
.ok {
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: clip;
    white-space: nowrap;
    margin: .5em;
    padding: 0 4px;
    font-size: 1.5em;
    font-family:monospace;
    max-width: max-content
}
.flex-end{
    place-items: center;
  place-content: flex-end;
}
.ok:hover {
    background: var(--primary-color);
    color: var(--dark-color);
}
.hides{
    display: none;
}
.counter {
    display: flex;
    margin: .25em auto;
    place-items: center;
    place-content: flex-end;
    min-width: 0;
    flex: 1 1 100%
}

.counter button {
    cursor: pointer;
    background: #eee;
    font-family: monospace;
    min-width: 2em;
    font-weight: 700;
    height: 2em;
    font-size: inherit;
    color: #777;
    transition: .1s color;
    box-shadow: #fff 0 0 2px inset
}

.counter button:active {
    color: #000;
    background: #fff;
    border-color: currentColor
}

.counter.saved input {
    color: #999
}

.counter .max,
.counter .max~input {
    background: #fee
}

.counter button:first-of-type {
    border-radius: 3px 0 0 3px;
    margin: 0 0 0 1em
}

.counter button:last-of-type {
    border-radius: 0 3px 3px 0;
    margin: 0 1em 0 0;
    order: 1
}

.counter input {
    appearance: textfield;
    text-align: center;
    border-radius: 0;
    border: 1px solid #aaa;
    border-left: 0;
    border-right: 0;
    width: 4ch;
    height: 2em;
    font-size: inherit;
    background: #fff;
    box-sizing: border-box
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=checkbox]{height: 2em;} 
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* counters */
